---
import "leaflet/dist/leaflet.css";
---

<div id="map"></div>

<script>
  import { LatLngExpression, Map, Marker, TileLayer } from "leaflet";
  import L from "leaflet";

  const center: LatLngExpression = [
    40.04679167910088, 15.451506793222032,
  ] as LatLngExpression;
  const map: Map = L.map("map").setView(center, 17);

  L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
    attribution:
      '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  }).addTo(map) as TileLayer;

  L.marker(center)
    .addTo(map)
    .bindPopup("Reading Car Repair")
    .openPopup() as Marker;
</script>

<style>
  #map {
    height: 500px;
  }
  @media (max-width: 1400px) {
    #map {
      height: 400px;
    }
  }
  @media (max-width: 1000px) {
    #map {
      height: 300px;
    }
  }
</style>
