<footer class="border-white/20 border-b bg-accent-500">
  <div class="mx-auto border-white/20 border-x max-w-7xl">
    <div class="mx-auto p-8 items-start justify-between w-full">
      <div class="text-center items-center mx-auto">
        <p class="text-carrot font-display text-2xl">
          Address: <a class="text-white uppercase font-display text-2xl"
            >UNIT 2, 132 BATH RD, READING, UK</a
          >
        </p>

        <p class="text-carrot font-display text-2xl">
          Working Hours: <a class="text-white font-display text-2xl"
            >XXXXXXXXXXXXXXXXXXXXXXXX</a
          >
        </p>
      </div>
    </div>
    <div class="mx-auto border-white/20 border-t flex flex-col p-8">
      <p class="text-white text-center text-sm font-display">
        © Copyright 2024 ⏤ READING CAR REPAIR CENTER
      </p>
      <p class="text-white text-center text-sm mt-3">
        Website built by <a
          class="underline"
          href="https://www.digizydigital.com/">DigizyDigital</a
        >.
      </p>
    </div>
  </div>
</footer>
